#form{
    align-items: center;
    width: 320px;
    height: 100px;
    background: #FDFEFF;
    -webkit-transition: background .6s ease;
    transition: background .6s ease;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
}
#input{
   font-size: 20px;
}
#button{
    font-size: 20px;
}